@font-face {
    font-family: 'Futura PT Book';
    src: url('../font/FuturaPT-Book.eot');
    src: url('../font/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
    url('../font/FuturaPT-Book.woff') format('woff'),
    url('../font/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Futura PT Book", sans-serif!important;
}

.main_header {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    transition: all .3s ease-in;
}

#mobile_nav {
    display: none;
}

.mobile_nav-toogle {
    height: 3px;
    width: 30px;
    background-color: black;
    position: absolute;
    top: 0;
    right: 2rem;
    margin-top: 35px;
    z-index: 2;
    cursor: pointer;
    display: none;
    transition: all .2s ease-in;
}

.mobile_nav-toogle:before {
    height: 3px;
    width: 30px;
    content: "";
    display: block;
    top: -10px;
    position: absolute;
    background-color: black;
    transition: all .2s ease-in;
}

.mobile_nav-toogle:after {
    height: 3px;
    content: "";
    top: 10px;
    display: block;
    position: absolute;
    width: 24px;
    right: 0;
    background-color: black;
    transition: all .2s ease-in;
}

.mobile_nav-toogle.active {
    visibility: hidden;
}

.mobile_nav-toogle.active:before {
    top: 0;
    transform: rotate(-45deg);
    visibility: visible;
}

.mobile_nav-toogle.active:after {
    transform: rotate(45deg);
    top: 0;
    visibility: visible;
    width: 30px;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
}

.logo span {
    color: #243671;
    padding-left: 10px;
    font-size: 2em;
}

.main_menu {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;
}

a.menu-item {
    cursor: pointer;
    padding: 7.5px 16px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

a.menu-item:hover {
    background-color: rgba(153, 153, 153, 0.2);
    border-color: rgba(153, 153, 153, 0.2);
}

.mobile_nav {
    display: none;
}

.header_callback {
    color: white!important;
    background: #67C0A6;
    padding: 10px;
}

.dropdown-toggle {
    margin-bottom: 0!important;
    color: black!important;
    font-size: 1em!important;
}

.dropdown-menu {
    box-shadow: 2px 2px 3px 2px lightgrey!important;
    background: #fafafa!important;
}

.dropdown-item {
    transition: all .3s ease-in;
}

.dropdown-item:hover {
    color: #CA9385!important;
}

.page_up {
    position: fixed;
    bottom: 0;
    background-color: #25305e;
    right: 50px;
    padding: 5px;
    cursor: pointer;
    z-index: 1000;
}

footer {
    width: 80%;
    margin: auto;
    padding: 100px 0 20px;
}

nav.footer {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

nav.footer a {
    cursor: pointer;
}

