@font-face {
    font-family: 'Futura PT Book';
    src: url('../font/FuturaPT-Book.eot');
    src: url('../font/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
    url('../font/FuturaPT-Book.woff') format('woff'),
    url('../font/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Futura PT Book", sans-serif!important;
}

.main_header {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    transition: all .3s ease-in;
}

#mobile_nav {
    display: none;
}

.mobile_nav-toogle {
    height: 3px;
    width: 30px;
    background-color: black;
    position: absolute;
    top: 0;
    right: 2rem;
    margin-top: 35px;
    z-index: 2;
    cursor: pointer;
    display: none;
    transition: all .2s ease-in;
}

.mobile_nav-toogle:before {
    height: 3px;
    width: 30px;
    content: "";
    display: block;
    top: -10px;
    position: absolute;
    background-color: black;
    transition: all .2s ease-in;
}

.mobile_nav-toogle:after {
    height: 3px;
    content: "";
    top: 10px;
    display: block;
    position: absolute;
    width: 24px;
    right: 0;
    background-color: black;
    transition: all .2s ease-in;
}

.mobile_nav-toogle.active {
    visibility: hidden;
}

.mobile_nav-toogle.active:before {
    top: 0;
    transform: rotate(-45deg);
    visibility: visible;
}

.mobile_nav-toogle.active:after {
    transform: rotate(45deg);
    top: 0;
    visibility: visible;
    width: 30px;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
}

.logo span {
    color: #243671;
    padding-left: 10px;
    font-size: 2em;
}

.main_menu {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;
}

a.menu-item {
    cursor: pointer;
    padding: 7.5px 16px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    color: black;
}

a.menu-item:hover {
    background-color: rgba(153, 153, 153, 0.2);
    border-color: rgba(153, 153, 153, 0.2);
    text-decoration: none;
}

div.menu-item {
    word-break: break-all;
}

.mobile_nav {
    display: none;
}

.header_callback {
    color: white!important;
    background: #67C0A6;
    padding: 10px;
    text-align: center;
}

.header_contacts a {
    color: black;
    text-decoration: none;
    transition: all .3s ease-in;
}

.header_contacts a:hover {
    color: white;
}

.dropdown-toggle {
    margin-bottom: 0!important;
    color: black!important;
    font-size: 1em!important;
}

.dropdown-menu {
    box-shadow: 2px 2px 3px 2px lightgrey!important;
    background: #fafafa!important;
}

.dropdown-item {
    transition: all .3s ease-in;
}

.dropdown-item:hover {
    color: #CA9385!important;
}

.breadcrumb-item {
    text-transform: capitalize;
}
.breadcrumb {
    background-color: transparent;
    padding: 1rem 0;
}

.page_up {
    position: fixed;
    bottom: 0;
    background-color: #25305e;
    right: 50px;
    padding: 5px;
    cursor: pointer;
    z-index: 1000;
    transition: all .3s ease-in;
}

.page_up:hover img {
    -webkit-animation: bounce-top  0.9s ease-in both;
    animation: bounce-top 0.9s ease-in both;
    animation-iteration-count: 1;
}


@-webkit-keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}
@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

footer {
    width: 80%;
    margin: auto;
    padding: 100px 0 20px;
}

nav.footer {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

nav.footer a {
    cursor: pointer;
    color: black!important;
    text-decoration: none;
    transition: all .3s ease-in;
}

nav.footer a:hover {
    font-size: 17px;
}

.breadcrumb-item+.breadcrumb-item:before {
    content: "•";
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal_text {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 3vh 5vw 0;
}

.modal-footer {
    justify-content: center;
}

.modal-footer button {
    background: #25305e!important;
    color: white!important;
}

.modal-footer button:hover {
    background: transparent!important;
    color: black!important;
}

.contact_form {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.contact_form-title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    height: 25%;
}

.contact_form form {
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: unset;
    transition: all .3s ease-in;
}

.contact_form form.active {
    height: 100%;
}

.contact_form input {
    transition: all .3s ease-in;
    background-color: #fafafa;
}

.top_form {
    display: flex;
}

.top_form .bmd-form-group{
    display: flex;
    flex-direction: column;
    width: 49%;
}

.top_form .bmd-form-group:last-child {
    margin: auto;
}

.top_form input {
    border: unset;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.middle_form {
    padding-top: 20px;
}

.middle_form input {
    border: unset;
    border-bottom: 1px solid lightgray;
    width: 49%;
}

.bottom_form {
    padding-top: 20px;
}

.bottom_form input {
    border: unset;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.contact_form input:focus {
    outline: unset;
    border-bottom-color: #25305E;
}

.btn-contact_form {
    background-color: #25305E!important;
    color: white!important;
    margin-bottom: 0;
    transition: all .3s ease-in!important;
}

.btn-contact_form:hover{
    background-color: transparent!important;
    color: black!important;
}

.promocode {
    padding: 20px 0 4px;
    display: flex;
    flex-direction: column;
}

.promocode_body {
    display: none;
    flex-direction: column;
}

.promocode_body.active {
    display: flex;
}

.promocode .bmd-form-group{
    padding: 0;
}

.promocode_input {
    display: flex;
}

.promocode_use {
    margin-left: 10px;
    box-shadow: 0 1px 0 0px #25305e;
    cursor: pointer;
    transition: all .3s ease-in;
}

.promocode_use:hover {
    color: #25305e;
    box-shadow: unset;
}

.promocode input {
    border: unset;
    border-bottom: 1px solid lightgray;
}

.promocode_change {
    cursor: pointer;
    padding-top: 5px;
    width: fit-content;
    box-shadow: 0 1px 0 0px #25305e;
    transition: all .3s ease-in;
}

.promocode_change:hover {
    color: #25305e;
    box-shadow: unset;
}

.contact_form-title.mobile {
    display: none;
}
