.page_top_wrapper {
    background: linear-gradient(to bottom, transparent 80%, #fafafa 80%), linear-gradient(to left, #76E0C1 50%, transparent 50%);
}

.page_top-content {
    width: 80%;
    margin: auto;
}

.page_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    padding-bottom: 30px;
}

.active-review{
    display: flex;
}

.active-review .review_photo {
    width: 60%;
}

.active-review .review_photo img {
    width: 100%;
    object-fit: contain;
    max-height: 40vh;
}

.active-review .review {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fafafa;
}

.active-review .review_title {
    width: 80%;
    margin: 0 auto;
    font-size: 24px;
    line-height: 31px;
    padding-bottom: 20px;
}

.active-review .review_text {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 23px;
}

.reviews_wrapper {
    margin: 100px auto 0;
    width: 85%;
}

.reviews_controls.controls {
    width: 80%;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.review {
    padding: 20px 0;
}

.review .review_title {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
}

.review .review_text {
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    padding: 20px 0;
}

.review .review_view-more {
    padding: 10px 15px;
    text-align: center;
    color: black;
    width: fit-content;
    margin: auto;
    cursor: pointer;
    transition: all .3s ease-in;
}

.review .review_view-more:hover {
    background: #25305E;
    color: white;
}

.controls button {
    width: 58px;
    height: 12px;
    border: unset;
    padding: 6px;
    margin: 0 10px;
    cursor: pointer;
    transition: all .2s ease-in;
}

.prev {
    background: url(/img/prev.png);

}
.next {
    background: url(/img/next.png);
}

.slick-dots {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.slick-dots li button {
    color: black;
    background: transparent;
    border: unset;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 12px;
    cursor: pointer;
}

.slick-dots .slick-active button {
    width: 25px;
    height: 25px;
    font-size: 16px;
    color: white;
    background: #25305E;
}

.news_wrapper {
    width: 85%;
    margin: 40px auto 0;
}

.news_main_title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.news {
    padding: 30px 10px;
}

.news img {
    width: 100%;
    object-fit: contain;
    max-height: 30vh;
}

.news_title {
    padding: 10px 10px 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.news_text {
    padding: 10px 10px 0;
    word-break: break-word;
}

.news_view {
    width: 75%;
    text-align: center;
    background: #25305e;
    color: white;
    margin: 10px auto 0;
    padding: 10px 0;
    cursor: pointer;
    transition: all .3s ease-in;
}

.news_view:hover {
    background: transparent;
    color: black;
}

.news_wrapper .slick-list {
    padding-bottom: 10px;
}

.news_wrapper .slick-dots {
    margin-top: 20px;
}

.promotions_wrapper {
    display: flex;
    width: 85%;
    margin: 50px auto 0;
}

.promotion {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.promotion_text {
    font-size: 24px;
}

.promotion_info {
    text-align: center;
    padding: 0 10px;
}

.promotion_button {
    padding: 10px 15px;
    background: #25305e;
    cursor: pointer;
    transition: all .3s ease-in;
}

.promotion_button:hover {
    background: transparent;
}

.contact_wrapper {
    width: 95%;
    display: flex;
    margin: 60px auto 0;
}

.contact_form {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.contact_form-title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    height: 25%;
}

.contact_form form {
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: unset;
    transition: all .3s ease-in;
}

.contact_form form.active {
    height: 100%;
}

.contact_form input {
    transition: all .3s ease-in;
    background-color: #fafafa;
}

.top_form {
    display: flex;
}

.top_form .bmd-form-group{
    display: flex;
    flex-direction: column;
    width: 49%;
}

.top_form .bmd-form-group:last-child {
    margin: auto;
}

.top_form input {
    border: unset;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.middle_form {
    padding-top: 20px;
}

.middle_form input {
    border: unset;
    border-bottom: 1px solid lightgray;
    width: 49%;
}

.bottom_form {
    padding-top: 20px;
}

.bottom_form input {
    border: unset;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.contact_form input:focus {
    outline: unset;
    border-bottom-color: #25305E;
}

.btn-contact_form {
    background-color: #25305E!important;
    color: white!important;
    margin-bottom: 0;
    transition: all .3s ease-in!important;
}

.btn-contact_form:hover{
    background-color: transparent!important;
    color: black!important;
}

.promocode {
    padding: 20px 0 4px;
    display: flex;
    flex-direction: column;
}

.promocode_body {
    display: none;
    flex-direction: column;
}

.promocode_body.active {
    display: flex;
}

.promocode .bmd-form-group{
    padding: 0;
}

.promocode_input {
    display: flex;
}

.promocode_use {
    margin-left: 10px;
    box-shadow: 0 1px 0 0px #25305e;
    cursor: pointer;
    transition: all .3s ease-in;
}

.promocode_use:hover {
    color: #25305e;
    box-shadow: unset;
}

.promocode input {
    border: unset;
    border-bottom: 1px solid lightgray;
}

.promocode_change {
    cursor: pointer;
    padding-top: 5px;
    width: fit-content;
    box-shadow: 0 1px 0 0px #25305e;
    transition: all .3s ease-in;
}

.promocode_change:hover {
    color: #25305e;
    box-shadow: unset;
}

.gallery_wrapper {
    margin-top: 100px;
    padding-bottom: 45px;
    background: linear-gradient(to right, #76E0C1 50%, transparent 50%);
}

.gallery_title {
    width: 80%;
    margin: auto;
    text-align: end;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    text-transform: uppercase;
}

.controls.gallery_controls {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.gallery_slider.slick-initialized.slick-slider {
    width: 90%;
    margin-left: auto;
}

.gallery_slider img {
    padding: 15px;
}
