.page_top_wrapper {
    background: linear-gradient(to bottom, transparent 50%, #fafafa 50%), linear-gradient(to left, #76E0C1 40%, transparent 40%);
}
.page_top-content {
    width: 95%;
    max-width: 1105px;
    margin: auto;
}
.breadcrumb {
    background-color: unset;
    padding-left: 0;
}
.breadcrumb-item a:hover {
    text-decoration: unset;
}
.page_top-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    text-transform: uppercase;
}
.services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    margin-top: 20px;
}
.service {
    flex-direction: column;
    display: flex;
    background: #fafafa;
    padding: 35px 50px;
}
.service img {
    width: 100%;
    height: 35vh;
    object-fit: contain;
}
.service_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}
.service_view-more {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    margin: 30px auto 0;
    width: 60%;
    padding: 5px;
    cursor: pointer;
    transition: all .3s ease-in;
}
.service_view-more:hover {
    background: #25305E;
    color: white!important;
    text-decoration: none;
}
