<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Stomasvit Admin{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <link rel="icon" href="/login/images/icon.jpeg">
    {% block stylesheets %}
        <link rel="stylesheet" href="/admin/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/admin/vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/admin/css/fontastic.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
        <link rel="stylesheet" href="/admin/css/style.default.css" id="theme-stylesheet">
        <link rel="stylesheet" href="/admin/css/custom.css">
        <link rel="stylesheet" href="/vendor/jquery/jquery-ui.min.css">
    {% endblock %}
</head>
<body>
<div class="page">
    {% include 'admin/elements/navbar.html.twig' %}
    <div class="page-content d-flex align-items-stretch">
        {% include 'admin/elements/sidebar.html.twig' %}
        <div class="content-inner">
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">{% block name %}{% endblock %}</h2>
                </div>
            </header>
            <div class="container">
                <br>
                {% block body %}Стомасвіт Admin Panel{% endblock %}
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/admin/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/admin/vendor/chart.js/Chart.min.js"></script>
    <script src="/admin/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/admin/js/front.js"></script>
    <script src="/vendor/jquery/jquery-ui.min.js"></script>
    <script src="/vendor/jquery/jquery-ui-touch-punch.js"></script>
    <script src="/admin/js/input-file.js"></script>
    <script src="/admin/js/main.js"></script>
{% endblock %}
</body>
</html>