<nav class="footer">
    <a href="{{ path('index') }}">
        Головна
    </a>
    <a href="{{ path('service_main') }}">
        Послуги
    </a>
    <a>
        Послуги
    </a>
    <a>
        Послуги
    </a>
    <a>
        Послуги
    </a>
</nav>
