<nav class="footer">
    <a href="{{ path('index') }}">
        Головна
    </a>
    <a href="{{ path('service_main') }}">
        Послуги
    </a>
    <a href="{{ path('doctor_main') }}">
        Лікарі
    </a>
    <a href="{{ path('reviews') }}">
        Паціентам
    </a>
    <a>
        Контакти
    </a>
</nav>
