<nav class="main_header">
    <div class="logo">
        <img src="{{ asset('img/logo.png') }}">
        <span>Стомасвiт</span>
    </div>
    <div class="main_menu">
        <div class="menu-item">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ПОСЛУГИ
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <div class="menu-item">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ПРО НАС
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <a class="menu-item">
            ЛІКАРІ
        </a>
        <a class="menu-item">
            ПАЦІЕНТАМ
        </a>
        <a class="menu-item">
            КОНТАКТИ
        </a>
        <div class="menu-item">
            Данила Щербаківького ,52 <br>044 227-19-20
        </div>
        <a class="menu-item">
            ЗАПИСАТИСЯ НА ПРИЙОМ
        </a>
    </div>
</nav>
