<nav id="mobile_nav">
    <ul class="mobile_list">
        <li class="menu-item">
            ПОСЛУГИ
        </li>
        <li class="menu-item">
            ПРО НАС
        </li>
        <li class="menu-item">
            ЛІКАРІ
        </li>
        <li class="menu-item">
            ПАЦІЕНТАМ
        </li>
        <li class="menu-item">
            КОНТАКТИ
        </li>
        <li class="menu-item">
            Данила Щербаківького ,52 <br>044 227-19-20
        </li>
        <li class="menu-item header_callback">
            ЗАПИСАТИСЯ НА ПРИЙОМ
        </li>
    </ul>
</nav>
