@media (max-width: 1525px) {
    .header_contacts {
        display: none;
    }
}
@media (max-width: 1100px) {
    .main-header {
        flex-direction: column;
    }

    .main_menu {
        width: 100%;
    }
}
@media (max-width: 850px) and (min-width: 769px){
    a.menu-item {
        font-size: 14px;
    }
}
@media (max-width: 769px) {
    .page_top_wrapper {
        background: transparent!important;
    }
    .mobile_nav-toogle {
        display: block;
    }
    #main-header-toggle {
        display: block;
    }
    .main_menu {
        display: none;
    }
    .main_header {
        width: 100%;
        padding: 10px 15px;
    }
    .main_header.active{
        background: #76e0c1;
    }
    #mobile_nav {
        display: none;
        background: #76e0c1;
    }
    .mobile_list {
        padding: 15px 40px;
        list-style: none;
        margin-bottom: 0;
    }
    .header_callback {
        width: fit-content;
    }
    .menu-item {
        font-size: 24px;
        padding: 10px;
        cursor: pointer;
    }
    .menu-item a {
        color: black;
        text-decoration: unset;
    }
    footer {
        padding-top: 40px;
    }
    nav.footer a:nth-child(4) {
        display: none;
    }
    nav.footer a:nth-child(5) {
        display: none;
    }
    .contact_form-title.mobile {
        display: flex;
        text-align: left;
        padding: 20px;
    }
    .contact_form-title.desktop {
        display: none;
    }
}
@media (max-width: 480px) {
    .mobile_nav-toogle {
        right: 1rem;
    }
    footer {
        width: 95%;
    }
    nav.footer {
        width: 70%;
    }
}
