@media (max-width: 768px) {
    .page_top_wrapper {
        width: 100%;
    }
    .doctors_slider {
        width: 100%;
    }
    .contact_wrapper {
        flex-direction: column;
    }
    .contact_wrapper div {
        width: 100%;
    }
    .contact_img {
        align-items: center;
        background: linear-gradient(to left, #76E0C1 55%, transparent 55%);
        padding: 25px;
    }
    .contact_form-title.mobile {
        display: block;
        text-align: left;
        padding: 15px;
    }
    .contact_form-title.desktop {
        display: none;
    }
    .contact_form {
        padding: 15px 0;
    }
    .contact_form form {
        width: 85%;
    }
    .btn-contact_form {
        margin: 40px auto 0;
        width: 50%;
    }
}

@media (max-width: 480px) {
    .doctors_wrapper {
        margin-top: 20px;
    }
    .controls {
        width: 55%;
    }
    .contact_wrapper {
        margin-top: 20px;
    }
}
